%h1 Posts

%table.table.table-striped
  %thead
    %tr
      %th
        ID
      %th
        Date
      %th
        User
      %th
        Rationale
      %th
      %th
  %tbody
    = render @posts
      
